


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
border: 0;
font-family: OpenSans;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}

.header_head{
    background-image: url("../images/header_back.png");
    height: 30px;
    margin-bottom: 20px;
}


button, .button, input[type="button"], input[type="reset"], input[type="submit"] {
background-color: #468cc8;
border: 0;
border-radius: 2px;
color: #fff;
font-size: 12px;
padding: 8px 20px 8px;
vertical-align: bottom;
}

button:hover, button:focus, .button:hover, .button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
background-color: #4d93d0;
color: #fff;
}

input, textarea {
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;
color: #2b2b2b;
padding: 8px 10px 7px;
}

.search-field {
width: 245px;
}

.search-form{
    float:right;
}

.site-navigation ul {
list-style: none;
margin: 0;
font-size:16px;
color: #7a7a7a;
margin-top:-3px;
text-transform: uppercase;
}

.site-navigation li {
border: 0;
display: inline-block;
height: 48px;
line-height: 48px;
position: relative;
padding: 0px 5px 0px 5px;
}

.dropdown {
  position: relative;
  margin: 12px 15px;
  font-size:12px;
}
.dropdown > a {
    font-weight: bold;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 10px;
margin: 2px 0 0;
list-style: none;
font-size: 10px;
background-color: #ffffff;
border: 1px solid #cccccc;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
background-clip: padding-box;
font-size: 12px;
}

.blue-button{
    background-color: #468cc8;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 8px 20px 8px;
}

.white-button{
    background-color: #ffffff;
    border: 1px solid #333333;
    border-radius: 2px;
    color: #7a7a7a;
    font-size: 12px;
    padding: 8px 20px 8px;
}

.blue_hr{
    background-color: #468cc8;
    height: 1px;
}


.add_cr{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    margin: -66px 0 0 -113px;
}

.share_cr{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    margin: -19px 0 0 -113px;
}

.home-gallery li .share_cr, .home-gallery li .add_cr{
display: none;
}

.home-gallery li:hover .share_cr, .home-gallery li:hover .add_cr{
display: inline;
}
/* Custom Style */
/* Color var */
/* Color var */
@font-face {
  font-family: 'exomedium';
  src: url('fonts/exo-medium-webfont.eot');
  src: url('fonts/exo-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/exo-medium-webfont.woff') format('woff'), url('fonts/exo-medium-webfont.ttf') format('truetype'), url('fonts/exo-medium-webfont.svg#exomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo Demi Bold";
  src: url("fonts/Exo-DemiBold.eot");
  src: url("fonts/Exo-DemiBold.eot?#iefix") format('embedded-opentype'), url("fonts/Exo-DemiBold.woff") format("woff"), url("fonts/Exo-DemiBold.ttf") format("truetype"), url("fonts/Exo-DemiBold.svg#Exo-DemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  background: url("../img/sprite_image.png") no-repeat scroll 0 0 transparent;
}
/*******Modify Css from Bootstrap*********/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3a3a3a;
  text-decoration: none;
}
hr {
  background: none repeat scroll 0 0 #000000;
  border-color: #E2E2E2 #FFFFFF #FBFBFB !important;
  border-style: solid;
  border-width: 1px !important;
  float: left;
  margin: 10px 0 !important;
  width: 100%;
}
.form-control {
  background-color: #ebebec;
  border-color: #9F9FA0 #D6D7D7 #9F9FA1;
  border-image: none;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px 0 0 1px;
  height: 38px;
  color: #555555;
}
.form-control:focus {
  border-color: #AFAFB0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(7, 7, 7, 0.6);
}
.btn-default {
  background-color: #DEDEDF;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #DEDEDF;
}
.navbar-fixed-top {
  background-image: url("../images/header_back.png");
}
/*******Modify Css from Bootstrap*********/
body {
  background: #f2f2f2;
  padding-top: 81px;
  overflow-x: hidden;
  font-size: 10px !important;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.helvetica-n {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
.helvetica-b {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
.exomedium {
  font-family: 'exomedium';
}
.exo-demi-bold {
  font-family: exomedium;
  /*font-weight: bold;
	font-family: 'Exo Demi Bold',sans-serif;*/
}
.pc-show {
  display: block;
}
.mobile-show {
  display: none;
}
.bold {
  font-weight: bold;
}
header {
  background: #ffffff;
  float: left;
  height: 95px;
  width: 100%;
  border-bottom: 1px dashed #909090;
}
.language {
  float: left;
  margin-top: 40px;
  text-align: right;
}
.language a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}
.language a:hover {
  color: #3a3a3a;
}
.language .dropdown-menu {
  background-color: #363435;
  border-color: #4e4d4e;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  font-size: 1.3em;
  left: auto;
  min-width: 305px;
  opacity: 0.98;
  padding: 0 13px 13px 13px;
  right: 0;
  text-align: left;
  top: 28px;
}
.language .dropdown-menu h4 {
  border-color: #5d5b5c;
  border-style: solid;
  border-width: 0 0 1px 0;
  color: #f1f2f2;
  font-size: 1.1em;
  line-height: 35px;
  margin: 0;
  padding: 0;
}
.language .dropdown-menu ul {
  float: left;
  margin-top: 8px;
  width: 100%;
}
.language .dropdown-menu li {
  float: left;
  width: 50%;
  line-height: 22px;
  height: auto;
}
.language .dropdown-menu li:nth-child(2n-1) {
  padding-right: 10px;
}
.language .dropdown-menu li a {
  font-size: 1.1em;
  font-weight: normal;
}
.top-head {
  float: left;
  width: 100%;
  height: auto;
}
.top-head h2 {
  color: #333333;
  font-size: 2.8em;
  line-height: 38px;
  margin: 25px 0 0;
}
.top-head .helping-you {
  color: #3c3c3c;
  font-size: 1.9em;
  line-height: 20px;
  margin: 0 0 30px;
}
.top-search {
  float: right;
  margin-top: 30px;
  height: auto;
}
.top-search .input-group {
  padding-right: 5px;
  width: 100%;
}
.top-search .input-group .search-box {
  float: right;
  width: 100%;
  height: auto;
  position: relative;
}
.top-search .input-group .search-box input[type="text"] {
  border-radius: 6px 0 0 6px !important;
  color: #AFB1B4;
  font: bold 14px helvetica;
}
.top-search .input-group .search-box input[type="text"].form-control {
  float: left;
}
.top-search .input-group .search-box .search-f-l {
  background-clip: padding-box;
  background-color: #363435;
  border-color: #4e4d4e;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.176);
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 1.3em;
  left: 0;
  list-style: none outside none;
  margin: 2px 0 0;
  opacity: 0.98;
  padding: 10px 13px 25px 13px;
  position: absolute;
  right: 38px;
  text-align: left;
  top: 35px;
  z-index: 1000;
}
.top-search .input-group .search-box .search-f-l ul {
  float: left;
  left: 0 !important;
  margin-bottom: 10px;
  position: relative !important;
  top: 0 !important;
  width: 100% !important;
}
.top-search .input-group .search-box .search-f-l ul li {
  float: left;
  line-height: 20px;
  margin: 5px 0;
  width: 50%;
  height: auto;
}
.top-search .input-group .search-box .search-f-l ul li a {
  color: #f1f2f2;
}
.top-search .input-group .search-box .search-f-l ul li a img {
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.67);
  float: left;
  line-height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
}
.top-search .input-group .search-box .search-f-l ul li a.ui-state-focus {
  color: #333333 !important;
}
.top-search .input-group .search-box .search-f-l ul li:nth-child(2n-1) {
  padding-right: 10px;
}
.top-search .input-group .search-box .search-f-l h4 {
  border-color: #5d5b5c;
  border-style: solid;
  border-width: 1px 0 0 0;
  bottom: 0;
  float: left;
  font-size: 1.3em;
  height: 25px;
  left: 12px;
  line-height: 30px;
  position: absolute;
  right: 12px;
}
.top-search .input-group .search-box .search-f-l h4 a {
  color: #f1f2f2;
  font-size: 13px;
}
.top-search .input-group .input-group-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
}
.top-search .btn {
  border-color: #9F9FA0 #D6D7D7 #9F9FA1;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px 1px 0 0;
  padding: 8px 12px;
}
.search-cat:focus + .search-f-l {
  display: block;
}
#main-menu {
  background: #bebfc0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bebfc0 0%, #ced0d1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bebfc0), color-stop(100%, #ced0d1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bebfc0 0%, #ced0d1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bebfc0 0%, #ced0d1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bebfc0 0%, #ced0d1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #bebfc0 0%, #ced0d1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bebfc0', endColorstr='#ced0d1', GradientType=0);
  /* IE6-9 */
  border-color: #9c9e9f #9c9e9f #bfc1c2;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  height: 35px;
  margin-top: 35px;
  width: 100%;
  float: left;
}
#main-menu li {
  border-color: #a5a7a7;
  border-style: solid;
  border-width: 0 1px 0 0;
  float: left;
  height: 33px;
  line-height: 33px;
  position: relative;
  text-align: center;
  width: auto;
}
#main-menu li a {
  font-size: 13px;
  padding: 0 10px;
}
#main-menu li:hover a .icon-popular,
#main-menu li.active a .icon-popular {
  background-position: -150px -11px;
}
#main-menu li:hover a .icon-recent,
#main-menu li.active a .icon-recent {
  background-position: -213px -10px;
}
#main-menu li:hover a .icon-trend,
#main-menu li.active a .icon-trend {
  background-position: -116px -11px;
}
#main-menu li:last-child {
  border-right: 0 none;
  float: right;
  padding-right: 5px;
  text-align: right;
  width: auto;
}
#main-menu li:last-child:hover {
  background: none;
}
#main-menu li.all-categories {
  padding: 0 30px 0 10px;
  padding-left: 10px;
  position: relative;
  text-align: left;
}
#main-menu li.all-categories a {
  text-transform: uppercase;
}
#main-menu li.all-categories a .icon-gray-down {
  right: 10px;
  top: 13px;
  position: absolute;
}
#main-menu li.all-categories .dropdown-menu a {
  text-transform: capitalize;
}
#main-menu li.view-all {
  font-size: 1.2em;
  float: right;
  text-transform: uppercase;
}
#main-menu li.view-all .view-all-g,
#main-menu li.view-all .view-all-i-g,
#main-menu li.view-all .view-all-v-g {
  position: relative;
  cursor: pointer;
  float: left;
  height: auto;
  margin: 0 5px 0 20px;
}
#main-menu li a,
#main-menu-m li a {
  color: #333132;
  display: block;
  text-shadow: 1px 1px 1px #FFFFFF;
  text-transform: capitalize;
}
#main-menu > li.active > a,
#main-menu > li:hover > a,
#main-menu > li.all-categories:hover,
#main-menu-m > li.active,
#main-menu-m > li:hover {
  background: #cdcecf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cdcecf 0%, #dedfe0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdcecf), color-stop(100%, #dedfe0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cdcecf 0%, #dedfe0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cdcecf 0%, #dedfe0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cdcecf 0%, #dedfe0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #cdcecf 0%, #dedfe0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdcecf', endColorstr='#dedfe0', GradientType=0);
  /* IE6-9 */
}
#main-menu > li.view-all:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
#main-menu li.active a,
#main-menu li:hover a,
#main-menu-m li.active a,
#main-menu-m li:hover a {
  color: #333333;
}
#main-menu-m {
  background: #bebfc0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bebfc0 0%, #ced0d1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bebfc0), color-stop(100%, #ced0d1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bebfc0 0%, #ced0d1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bebfc0 0%, #ced0d1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bebfc0 0%, #ced0d1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #bebfc0 0%, #ced0d1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bebfc0', endColorstr='#ced0d1', GradientType=0);
  /* IE6-9 */
  border-color: #9c9e9f #9c9e9f #bfc1c2;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  display: none;
  height: 25px;
  margin-top: 25px;
  width: 100%;
  float: left;
}
#main-menu-m li {
  border-right: 1px solid #A5A7A7;
  float: left;
  height: 23px;
  line-height: 23px;
  padding-left: 10px;
  position: relative;
  text-align: left;
  width: 50%;
}
#main-menu-m li a {
  font-size: 12px;
}
#main-menu-m li a .icon-gray-down {
  position: absolute;
  right: 8px;
  top: 9px;
}
#main-menu-m li:last-child {
  border-right: 0 none;
}
#main-menu-m.sort-by,
#main-menu-m .media-by {
  position: relative;
}
#main-menu-m .dropdown-menu {
  background-color: #363435;
  border-color: #4e4d4e;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  font-size: 1.3em;
  left: 0;
  min-width: 10px;
  opacity: 0.98;
  padding: 13px;
  right: 0;
  text-align: left;
  top: 22px;
}
#main-menu-m .dropdown-menu li {
  border-right: 0px;
  float: left;
  line-height: 22px;
  padding-left: 10px;
  text-align: left;
  width: 100%;
  text-transform: capitalize;
  height: auto;
}
#main-menu li.view-all .active,
#main-menu li .view-all-g:hover {
  color: #333333;
}
#main-menu li .view-all-g:hover .icon-blue-up,
#main-menu li .view-all-g.active .icon-blue-up,
#main-menu li .view-all-i-g:hover .icon-blue-up,
#main-menu li .view-all-i-g.active .icon-blue-up,
#main-menu li .view-all-v-g:hover .icon-blue-up,
#main-menu li .view-all-v-g.active .icon-blue-up {
  display: block;
  bottom: 2px;
  left: 2px;
  position: absolute;
}
#main-menu li .view-all-i-g:hover .icon-image-black,
#main-menu li .view-all-i-g.active .icon-image-black {
  background-position: -240px -10px;
}
#main-menu li .view-all-v-g:hover .icon-video-black,
#main-menu li .view-all-v-g.active .icon-video-black {
  background-position: -182px -10px;
}
#main-menu li .icon-blue-up {
  display: none;
}
#main-menu .dropdown-menu {
  background-color: #363435;
  border-color: #4e4d4e;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  font-size: 1.3em;
  left: 0;
  min-width: 285px;
  opacity: 0.98;
  padding: 13px;
  right: 0;
  text-align: left;
  top: 100%;
}
#main-menu .dropdown-menu ul,
#main-menu-m .dropdown-menu ul {
  float: left;
  margin-top: 8px;
  width: 100%;
}
#main-menu .dropdown-menu ul li,
#main-menu-m .dropdown-menu ul li {
  border-right: 1px solid #5d5b5c;
  float: left;
  line-height: 22px;
  position: relative;
  padding-left: 10px;
  text-align: left;
  width: 50%;
  text-transform: capitalize;
  height: auto;
}
#main-menu .dropdown-menu ul li:hover,
#main-menu-m .dropdown-menu ul li:hover {
  background: none;
}
#main-menu .dropdown-menu ul li a,
#main-menu-m .dropdown-menu ul li a {
  font-size: 1.1em;
}
#main-menu .dropdown-menu ul li a:hover,
#main-menu-m .dropdown-menu ul li a:hover {
  color: #333333;
}
#main-menu .dropdown-menu ul li:nth-child(2n-2),
#main-menu-m .dropdown-menu ul li:nth-child(2n-2) {
  border-right: 0px solid #5d5b5c;
}
#main-menu .dropdown-menu a,
#main-menu-m .dropdown-menu a {
  text-shadow: none;
  color: #f1f2f2;
  display: block;
  font-size: 1.3em;
}
#main-menu li:hover .dropdown-menu a,
#main-menu-m li:hover .dropdown-menu a {
  color: #f1f2f2;
}
.home-gallery {
  display: table;
  float: none;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
  word-spacing: -0.26em;
}
.home-gallery li {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.46);
  -moz-box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.46);
  -webkit-box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.46);
  cursor: pointer;
  height: 285px;
  margin: 20px 18px 0 0;
  position: relative;
  width: 320px;
  display: inline-block;
  text-align: left;
  float: none;
  word-spacing: 0em;
}
.home-gallery .gallery-list:hover {
  background: none repeat scroll 0 0 #ffffff;
  opacity: 0.2;
}
.home-gallery li:hover .icon-black-b-up {
  background-position: -85px -35px;
}
.home-gallery li:hover .icon-view-m,
.home-gallery li:hover .icon-play-m {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: -21px 0 0 -20px;
}
.home-gallery li .gallery-list {
  float: left;
  height: 100%;
  position: relative;
  width: 100%;
}
.home-gallery li .gallery-list .gallery-img {
  float: left;
  position: relative;
  width: 100%;
}
.home-gallery li .gallery-list .gallery-img img {
  float: left;
  width: 100%;
}
.home-gallery li .gallery-list .gallery-img .icon-image-white,
.home-gallery li .gallery-list .gallery-img .icon-video-white {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 10;
}
.home-gallery li .gallery-short-desc {
  float: left;
  margin-bottom: 25px;
  padding: 20px 10px 5px 10px;
  position: relative;
  width: 100%;
}
.home-gallery li .gallery-short-desc .icon-black-b-up {
  left: 30px;
  position: absolute;
  top: -15px;
}
.home-gallery li .gallery-short-desc h4 {
  color: #7a7a7a;
  font-size: 1.8em;
  line-height: 18px;
  margin: 0 0 4px;
}
.home-gallery li .gallery-short-desc article {
  color: #e6e7e8;
  float: left;
  font-size: 1.2em;
  line-height: 15px;
  margin-bottom: 10px;
  width: 100%;
}
.home-gallery li .gal-count {
  bottom: 7px;
  left: 10px;
  position: absolute;
  right: 10px;
}
.home-gallery li .gal-count .view-count,
.home-gallery li .gal-count .share-count {
  color: #c1c2c3;
  font-size: 0.9em;
  float: left;
  margin-right: 10px;
}
.home-gallery li .icon-view-m,
.home-gallery li .icon-play-m {
  display: none;
}
footer {
  border-top: 2px solid #468cc8;
  box-shadow: 0 2px 0 2px #212121;
  -moz-box-shadow: 0 2px 0 2px #212121;
  -webkit-box-shadow: 0 2px 0 2px #212121;
  float: left;
  margin-top: 40px;
  width: 100%;
}
footer .footer-link {
  color: #7a7a7a;
  float: left;
  font-size: 1.2em;
  height: auto;
  margin-bottom: 15px;
  padding: 25px 0 30px 0;
  width: 100%;
}
footer .footer-link a {
  color: #7a7a7a;
  font-size: 1em;
  padding: 0 10px;
  text-transform: uppercase;
}
footer .footer-link a:first-child {
  padding-left: 0;
}
footer .copy-right {
  color: #FCFCFC;
  font-size: 1em;
}
/* Details Head */
.galary-details,
.terms-and-condition {
  float: left;
  height: auto;
  width: 100%;
}
.galary-details h3.det-head,
.terms-and-condition h3.det-head {
  color: #333132;
  float: left;
  font-size: 2em;
  height: auto;
  line-height: 25px;
  margin: 20px 0 5px;
  width: 100%;
}
.galary-details h2,
.terms-and-condition h2 {
  color: #515050;
  float: left;
  font-size: 3.2em;
  line-height: 32px;
  margin-top: 20px;
  width: 100%;
  text-shadow: 2px 2px white;
}
.video-content {
  float: left;
  height: auto;
  width: 100%;
  position: relative;
  padding-right: 27px;
}
.video-content img {
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.43);
  float: left;
  height: auto;
  max-width: 100%;
}
.video-content .icon-play-l {
  display: none;
}
.video-content:hover.icon-play-l {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: -46px 0 0 -49px;
}
.video-content .icon-image-white-l {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 10;
}
.video-content .share-link {
  bottom: 5px;
  position: absolute;
  right: 0;
  width: 19px;
}
.video-content .share-link .fb-share,
.video-content .share-link .tw-share {
  float: left;
  height: 18px;
  margin-top: 10px;
  width: 100%;
}
#touch_section article {
  float: left;
  font-size: 13px;
  margin: 5px 0 10px;
  width: 100%;
}
#touch_section article:first-child {
  margin-top: 35px;
}
#touch_section article .galary-details h2 {
  color: #515050;
  float: left;
  font-size: 3.2em;
  line-height: 32px;
  margin-top: 20px;
  width: 100%;
}
.exomedium a {
  border-bottom: 1px solid #068DBC;
}
.show-similar-videos {
  color: #333132;
  float: left;
  width: 100%;
  text-align: right;
}
.show-similar-videos .similar-videos-s-h {
  color: #6A6B6D;
  cursor: pointer;
  font-size: 13px;
}
.similar-videos {
  display: none;
  float: left;
  height: auto;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.similar-videos li {
  float: none;
  height: auto;
  margin-right: 6px;
  width: 120px;
  display: inline-block;
}
.similar-videos li:last-child {
  margin-right: 0;
}
.similar-videos li .similar-videos-box {
  border: 6px solid #333132;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.42);
  height: auto;
  width: 100%;
}
.similar-videos li span {
  color: #808285;
  float: left;
  margin-top: 5px;
  width: 100%;
  text-align: left;
}
.open-div {
  display: block;
}
#decision_section h2 em {
  font-style: normal;
  color: #333333;
  display: block;
  margin: 20px 0 15px;
}
.user-comments,
.user-question {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CECDCD;
  border-radius: 6px 6px 6px 6px;
  float: left;
  height: auto;
  margin: 15px 0 20px;
  padding-bottom: 10px;
  width: 100%;
}
.user-comments-l {
  color: #333132;
  float: left;
  height: 340px;
  padding: 10px;
}
.user-comments-l .top-d {
  font-size: 13px;
}
.user-comments-l .bottom-d {
  border-top: 1px solid #E5E5E5;
  bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 6px;
  position: absolute;
}
.user-comments-r {
  float: left;
  padding: 10px;
}
.user-comments-r .input-group {
  width: 100%;
  float: left;
  height: auto;
}
.user-comments-r .input-group .form-control,
.user-question-r .input-group .form-control {
  background: none repeat scroll 0 0 #F0F1F1;
  border-radius: 6px 6px 6px 6px !important;
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.user-comments-r .input-group textarea.form-control {
  color: #A5A7A8;
  font-size: 22px;
  height: 200px;
  resize: none;
}
.user-comments-r .input-group input[type='text'].form-control,
.user-question-r .input-group input[type='text'].form-control,
.user-comments-r .input-group input[type='email'].form-control {
  color: #A5A7A8;
  font-size: 14px;
  height: 30px;
}
.i-am-happy {
  float: left;
  height: auto;
  font-weight: normal;
  width: 80%;
}
#question_section h2 {
  font-style: normal;
  color: #333333;
  display: block;
  margin: 20px 0 15px;
}
.user-question textarea.form-control {
  color: #9fa1a2;
  font-size: 22px;
  height: 200px;
  margin: 10px 0;
  resize: none;
  width: 100%;
}
.user-question article {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}
.user-question-r {
  margin-bottom: 10px;
}
.user-question-r .input-group {
  float: left;
  height: auto;
  width: 80%;
}
#decision_section button[type="button"],
#question_section button[type="button"] {
  background: #1cb2dc;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1cb2dc), color-stop(100%, #006b91));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1cb2dc 0%, #006b91 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1cb2dc', endColorstr='#006b91', GradientType=0);
  /* IE6-8 */
  border: 1px solid #005d7d;
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 #6F6F6F;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  float: left;
  font: bold 12px Helvetica;
  line-height: 30px;
  /*height: 30px;*/
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
#engage_section,
#decision_section,
#question_section,
#success_section {
  display: none;
}
.success-message {
  width: 100%;
  float: left;
}
.success-message h2 {
  background: none repeat scroll 0 0 rgba(249, 248, 248, 0.75);
  border: 1px solid #E3E3E3;
  color: #333333;
  display: block;
  float: left;
  font-size: 32px;
  line-height: 54px;
  padding: 20px 30px;
  position: relative;
  width: 100%;
}
.success-message h2 span {
  float: left;
  padding-left: 60px;
}
/* Details Head */
/* terms and condition*/
.terms-and-condition h2 {
  color: #333333;
  font-size: 3.8em;
  line-height: 38px;
  margin: 25px 0 15px;
}
.terms-and-condition h3 {
  color: #333132;
  font-size: 1.6em;
  margin-bottom: 2px;
}
.terms-and-condition article p {
  color: #333132;
  font-size: 1.3em;
}
/* terms and condition */
/* Checkbox */
.prettycheckbox {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
.prettycheckbox a {
  background: url("../img/show2me-sprite.png") no-repeat scroll -10px -60px transparent;
  cursor: pointer;
  display: block;
  float: left;
  height: 20px;
  margin-right: 8px;
  width: 20px;
}
.prettycheckbox a.checked {
  background-position: -185px -66px;
  float: left;
}
/* Checkbox */
/* Icon */
.icon-logo {
  background-position: -10px -9px;
  float: left;
  height: 41px;
  margin: 15px 0;
  width: 44px;
}
.icon-white-down {
  background-position: -168px -3px;
  display: inline-block;
  height: 12px;
  margin-left: 3px;
  width: 10px;
}
.icon-gray-down {
  background-position: -64px -27px;
  display: inline-block;
  height: 6px;
  margin-left: 6px;
  width: 10px;
}
.icon-blue-up {
  background-position: -64px -42px;
  display: inline-block;
  height: 6px;
  margin-left: 6px;
  width: 10px;
}
.icon-filter-down {
  background-position: -46px -2px;
  display: inline-block;
  height: 15px;
  margin-left: -5px;
  width: 19px;
}
.icon-add-creative {
background-position: -80px -2px;
display: inline-block;
height: 15px;
margin-left: -5px;
width: 19px;
}
.icon-share-creative {
background-position: -6px -1px;
display: inline-block;
height: 18px;
margin-left: -8px;
width: 21px;
}
.language .dropdown-menu .icon-caret,
.search-f-l .icon-caret {
  background-position: -40px -80px;
  display: inline-block;
  height: 15px;
  position: absolute;
  right: 20px;
  top: -15px;
  width: 16px;
}
#main-menu .dropdown.open .icon-caret,
#main-menu-m .dropdown.open .icon-caret {
  background-position: -40px -80px;
  display: inline-block;
  height: 15px;
  position: absolute;
  right: 20px;
  bottom: -3px;
  width: 16px;
}
.icon-search {
  background-position: -84px -58px;
  display: inline-block;
  height: 17px;
  width: 17px;
}
button.btn-default:hover .icon-search {
  background-position: -114px -58px;
}
.icon-popular {
  background-position: -150px -39px;
  display: inline-block;
  height: 18px;
  margin-right: 5px;
  vertical-align: text-top;
  width: 24px;
}
.icon-recent {
  background-position: -214px -38px;
  display: inline-block;
  height: 18px;
  margin-right: 5px;
  vertical-align: text-top;
  width: 18px;
}
.icon-trend {
  background-position: -117px -39px;
  display: inline-block;
  height: 17px;
  margin-right: 5px;
  vertical-align: text-top;
  width: 25px;
}
.icon-image-white {
  background-position: -271px -10px;
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}
.icon-image-white-l {
  background-position: -120px -201px;
  display: inline-block;
  height: 68px;
  vertical-align: middle;
  width: 67px;
}
.icon-video-white {
  background-position: -305px -10px;
  display: inline-block;
  height: 21px;
  vertical-align: middle;
  width: 31px;
}
.icon-image-black {
  background-position: -241px -38px;
  display: inline-block;
  height: 19px;
  vertical-align: text-bottom;
  width: 19px;
}
.icon-video-black {
  background-position: -183px -38px;
  display: inline-block;
  height: 18px;
  vertical-align: text-bottom;
  width: 21px;
}
.icon-view {
  background-position: -38px -60px;
  display: inline-block;
  height: 7px;
  margin-right: 3px;
  vertical-align: middle;
  width: 15px;
}
.icon-view-m {
  background-position: -11px -139px;
  display: inline-block;
  height: 41px;
  margin-right: 3px;
  vertical-align: middle;
  width: 43px;
}
.icon-play-m {
  background-position: -64px -139px;
  display: inline-block;
  height: 41px;
  margin-right: 3px;
  vertical-align: middle;
  width: 43px;
}
.icon-play-l {
  background-position: -11px -199px;
  display: inline-block;
  height: 93px;
  vertical-align: middle;
  width: 98px;
}
.icon-share {
  background-position: -63px -61px;
  display: inline-block;
  height: 11px;
  vertical-align: middle;
  margin-right: 3px;
  width: 10px;
}
.icon-share-l {
  background-position: -63px -61px;
  display: inline-block;
  height: 11px;
  vertical-align: middle;
  margin-right: 3px;
  width: 10px;
}
.icon-black-b-up {
  background-position: -85px -10px;
  display: inline-block;
  height: 16px;
  margin-right: 3px;
  vertical-align: middle;
  width: 23px;
}
.icon-fb {
  background-position: -11px -85px;
  display: inline-block;
  height: 18px;
  width: 18px;
}
.icon-tw {
  background-position: -10px -114px;
  display: inline-block;
  height: 18px;
  width: 19px;
}
.icon-gray-dowm-m {
  background-position: -41px -122px;
  display: inline-block;
  height: 8px;
  width: 12px;
}
.icon-success {
  background-position: -114px -85px;
  float: left;
  height: 54px;
  left: 30px;
  position: absolute;
  width: 54px;
}
/* Icon */
/* media query */
@media (max-width: 767px) {
  .top-search {
    float: left;
    margin-top: 15px;
    width: 100%;
  }
  .user-comments-l,
  .user-comments-r {
    height: auto;
  }
  .user-comments-l .bottom-d {
    font-weight: normal;
    margin-top: 6px;
    position: inherit;
  }
}
@media (max-width: 768px) {
  #main-menu {
    margin: 15px 0 0;
    height: 25px;
  }
  #main-menu > li {
    display: none;
    height: 23px;
    line-height: 23px;
  }
  #main-menu > li:first-child {
    display: block;
    width: 100%;
    border: 0;
  }
  .form-control {
    height: 25px;
    padding: 3px 6px;
  }
  .top-search .btn {
    padding: 7px 6px 3px 6px;
  }
  .top-search .input-group .input-group-btn {
    width: 24px;
  }
  .top-search .input-group .search-box .search-f-l {
    right: 18px;
    top: 23px;
  }
  .top-search .btn-default .icon-search {
    background-position: -142px -66px;
    height: 11px;
    width: 11px;
  }
  .top-search .btn-default:hover .icon-search {
    background-position: -164px -66px;
  }
  #main-menu li.all-categories {
    padding: 0;
  }
  #main-menu li.all-categories a .icon-gray-down {
    right: 8px;
    top: 9px;
  }
  #main-menu-m {
    display: block;
  }
}
@media (max-width: 740px) {
  .container {
    width: 487px;
  }
}
@media (max-width: 640px) {
  .top-head h2 {
    font-size: 2.5em;
    line-height: 25px;
    margin: 15px 0 0;
  }
  .top-head .helping-you {
    font-size: 1.3em;
  }
}
/* Mobile  View */
@media (max-width: 500px) {
  .language .dropdown {
    position: inherit;
  }
  .language .dropdown a {
    text-transform: capitalize;
  }
  .language .dropdown-menu {
    background-color: #FFFFFF;
    border-width: 0;
    left: 0;
    margin: 0 15px;
    right: 0;
    top: 72px;
  }
  .language .dropdown-menu .icon-caret {
    display: none;
  }
  .language .dropdown-menu h4 {
    border-width: 0;
    color: #3B3B3B;
  }
  .language .dropdown-menu ul {
    margin-top: 0;
  }
  .language .dropdown-menu ul li {
    border-top: 1px solid #D8D8D8;
    line-height: 30px;
    width: 100%;
    cursor: pointer;
  }
  .language .dropdown-menu ul li a {
    color: #414141;
  }
  .language .dropdown-menu ul li:hover a {
    color: #333333;
  }
  .language .dropdown-menu ul li:nth-child(2n-1) {
    padding-right: 0px;
  }
  #main-menu .dropdown a,
  #main-menu-m .dropdown a {
    text-transform: capitalize;
  }
  #main-menu .dropdown-menu,
  #main-menu-m .dropdown-menu {
    padding: 7px;
  }
  #main-menu .dropdown-menu ul li a,
  #main-menu-m .dropdown-menu ul li a {
    font-size: 0.8em;
    text-transform: capitalize;
  }
  .pc-show {
    display: none;
  }
  .mobile-show {
    display: block;
  }
  .home-gallery li,
  .home-gallery li:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    width: 100%;
  }
  .gallery-short-desc {
    float: left;
    margin-bottom: 0;
    padding: 10px 10px 5px;
    position: relative;
    width: 100%;
  }
  .gallery-short-desc h4 {
    color: #333333 !important;
    font-size: 1.5em !important;
    margin: 0 0 5px !important;
  }
  .gallery-short-desc article {
    border-top: 1px solid #D5D5D5;
    color: #464547 !important;
    padding-top: 5px;
  }
  .gallery-short-desc .icon-black-b-up {
    display: none;
  }
  .gallery-list .gal-count {
    display: none;
  }
  .galary-details h3.det-head {
    font-size: 13px;
    line-height: 20px;
    margin: 10px 0 5px;
  }
  .galary-details h2 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    text-shadow: 1px 1px white;
  }
  #engage_section .galary-details h2 {
    font-size: 19px;
    line-height: 23px;
  }
  #decision_section .galary-details h2 {
    font-size: 23px;
    line-height: 25px;
  }
  #decision_section .galary-details h2 em {
    margin: 15px 0;
  }
  #decision_section .galary-details .user-comments-l .top-d {
    font-size: 12px;
  }
  #decision_section .galary-details .user-comments-l .bottom-d {
    font-size: 10px;
    line-height: 15px;
  }
  #question_section .galary-details h2 {
    font-size: 23px;
    line-height: 25px;
  }
  #question_section .galary-details .user-question article {
    font-size: 10px;
    line-height: 15px;
  }
  .video-content {
    padding-right: 0;
  }
  .video-content > .share-link {
    display: none;
  }
  .share-link {
    position: inherit;
    width: auto;
  }
  .fb-share,
  .tw-share {
    float: left;
    height: 18px;
    margin-right: 5px;
    margin-top: 0;
    width: auto;
  }
  .show-more-text {
    color: #333132;
    float: right;
    text-align: right;
    width: auto;
  }
  .icon-fb {
    background-position: -7px -59px;
    background-size: 350px auto;
    display: inline-block;
    height: 13px;
    width: 14px;
  }
  .icon-tw {
    background-position: -7px -79px;
    background-size: 350px auto;
    display: inline-block;
    height: 13px;
    width: 14px;
  }
  hr {
    margin: 5px 0;
  }
  .show-more-s-h {
    color: #6A6B6D;
    cursor: pointer;
    font-size: 13px;
  }
  .show-more-cont {
    display: none;
  }
  .mobile-a-link {
    background: #1cb2dc;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1cb2dc), color-stop(100%, #006b91));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1cb2dc 0%, #006b91 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1cb2dc', endColorstr='#006b91', GradientType=0);
    /* IE6-8 */
    border: 1px solid #05607F;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 1px 1px #6F6F6F;
    color: #FFFFFF;
    float: left;
    font: bold 11px Helvetica;
    line-height: 20px;
    height: auto;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    width: 100%;
  }
  a.mobile-a-link:hover {
    color: #DDDDDD;
  }
  .feedback-link {
    float: left;
    width: 100%;
    height: auto;
  }
  .feedback-link > nav > a {
    background: #1cb2dc;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1cb2dc), color-stop(100%, #006b91));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1cb2dc 0%, #006b91 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1cb2dc 0%, #006b91 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1cb2dc', endColorstr='#006b91', GradientType=0);
    /* IE6-8 */
    border: 1px solid #05607F;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 1px 1px #6F6F6F;
    color: #FFFFFF;
    float: left;
    font: bold 11px Helvetica;
    line-height: 20px;
    height: auto;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 48%;
  }
  .feedback-link > nav > a:last-child {
    float: right;
  }
  .user-comments-l,
  .user-comments-r {
    height: auto;
  }
  .user-comments-l .bottom-d {
    font-weight: normal;
    margin-top: 6px;
    position: inherit;
  }
  .user-comments-r .input-group textarea.form-control {
    font-size: 12px;
    height: 150px;
  }
  .user-comments-r .input-group input.form-control[type="text"],
  .user-question-r .input-group input.form-control[type="text"],
  .user-comments-r .input-group input.form-control[type="email"] {
    font-size: 11px;
    height: 20px;
  }
  .prettycheckbox a {
    background-image: url("../img/show2me-sprite.png");
    background-position: -7px -42px;
    background-repeat: no-repeat;
    background-size: 350px auto;
    height: 13px;
    width: 14px;
    margin-top: 3px;
  }
  .prettycheckbox a.checked {
    background-position: -129px -46px;
  }
  #decision_section,
  .user-comments-r button[type="button"] {
    /*height: 20px !important;*/
    font: bold 11px Helvetica !important;
    line-height: 20px !important;
    padding: 0 5px !important;
  }
  #question_section .user-question-r button[type="button"] {
    /*height: 20px !important !important;*/
    font: bold 11px Helvetica !important;
    line-height: 20px !important;
    padding: 0 5px !important;
  }
  .user-question article {
    font-weight: normal;
    padding: 6px 0;
  }
  .user-question textarea.form-control {
    height: 250px;
    font-size: 12px;
  }
  .success-message h2 {
    font-size: 22px;
    line-height: 25px;
    padding: 15px 20px;
  }
  .success-message h2 span {
    padding-left: 50px;
  }
  .success-message h2 .icon-success {
    background-position: -177px -90px;
    float: left;
    height: 41px;
    left: 20px;
    position: absolute;
    width: 40px;
  }
  footer .footer-link a {
    text-transform: capitalize;
  }
}
/* Mobile  View */
@media (min-width: 1214px) {
  .home-gallery li:nth-child(4n-4) {
    margin-right: 0px !important;
    box-shadow: 0 2px 2px 2px rgba(50, 50, 50, 0.46);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1213px) {
  .home-gallery li:nth-child(4n-4) {
    margin-right: 0px !important;
    box-shadow: 0 2px 2px 2px rgba(50, 50, 50, 0.46);
  }
}
@media only screen and (min-width: 741px) and (max-width: 990px) {
  .home-gallery li:nth-child(3n-3) {
    margin-right: 0px !important;
    box-shadow: 0 2px 2px 2px rgba(50, 50, 50, 0.46);
  }
}
@media only screen and (min-width: 501px) and (max-width: 740px) {
  .home-gallery li:nth-child(2n-2) {
    margin-right: 0px !important;
    box-shadow: 0 2px 2px 2px rgba(50, 50, 50, 0.46);
  }
}
@media (max-width: 500px) {
  .home-gallery li {
    margin-right: 0px !important;
  }
  .container {
    width: 100%;
  }
}
/* media query */
